body > #root > .App > div{
    min-height: 100vh;
}
.sidebar{
    background-color: black;
    color: white;
}
.header{
    color: #ccc;
    font-weight: bold;
    height: 50px;
    bottom: 0;
    left: 0;
    background-color: white;
    padding: 0 1%;
}
.header h4{
    margin: 0;
    padding: 1% 0;
}
.cardHeader{
    margin-bottom: 50px;
}
#dropdown-basic-button{
    background-color: #007bff;
}
.logOutAdmin{
    width: 15%;
    padding: 0.5% 0;
}
.iconAdmin{
    padding: 5% 0;
}
.App {
    height: auto;
    background-color: #EEE;
}
.cardContent{
    margin-top: 50px;
    margin-bottom: 50px;
}
.logo{
    width: 100%;
    height: 100px;
}
.Tab-main{
    background-color: white;
}
.formAdd{
    margin: 2% 0;
}
.div-button-submit{
    display: flex;
    justify-content: flex-end;
}
.labelDetail{
    width: 100%;
    font-size : 18px;
    font-weight: 500;
}
.divLogin{
    background-color: #EEE;
    display: flex;
    justify-content: center;
    padding: 10% 10%;
}
.cardLogin{
    width: 60%;
    padding: 5% 10%;
}

.logoLogin{
    height: 150px;
}
.navContentTable{
    padding : 0.5%;
    background-color: #FFF;
}
.navItem{
    padding: 0.5%;
}
.navLink{
    padding : 10px;
    border: 1px solid #007bff;
    border-radius: 5px;
}
.navLink:hover{
    border : 1px solid #000;
    color:#000;
    text-decoration: none;
}
.buttonReset{
    margin-left: 2%;
}
.cardPostStatistic{
    width: 100%;
}
canvas{
    padding : 3%; 
}
.table{
    margin-bottom: 0;
}
.divTopView{
    padding: 5%;
}
.titleTopView{
    text-align: center;
    color: #666;
}
textarea.form-control{
    min-height: 200px;
}